body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #191919;
  color: #d4d4d4;
}

.h1 {
  color: #007bff;
  margin-bottom: 20px;
}

.container {
  background-color: #191919;
  padding: 30px;
  border-radius: 8px;
  width: 350px;
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #d4d4d4;
}

select,
button {
  width: calc(100% - 12px);
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 5px;
}

button {
  background-color: #333333;
  color: #d4d4d4;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3a3a3a;
}

.resultado {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 4px;
  text-align: center;
}
